<div class='title-container' style='text-align: center;'>
	<h1>Tiendas registradas</h1>
</div>
<div class="row">
	<% @stores.each do |store| %>
		<div class="col-md-4">
			<div class="card mx-2 mb-2">
			<div class="card-body">
				<h5 class="card-title"><%= store.name %></h5>
				<div class="d-flex">
				 <p class="card-text" style='margin-top: auto; margin-bottom: auto'><strong>Estado:</strong> <%= store.spanish_status_name %></p>
				 <div class='status-circle' style="background-color: <%= store.status_color %>"></div>
				</div>
				<p class="card-text"> Dirección: <%= store.address %></p>
				<a href="<%= store_path(store)%>" class="btn btn-primary">Ver detalles</a>
			</div>
			</div>
		</div>
	<% end %>
</div>